<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <!-- Strict CSP -->
    <meta http-equiv="content-security-policy" content="
        base-uri 'self';
        default-src 'none';
        upgrade-insecure-requests;
        style-src 'self';
        style-src-attr 'unsafe-inline';
        img-src 'self';
        form-action 'none';
    ">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!-- CSS styling -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/github-light-syntax.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/assets/css/github-dark-syntax.css">
</head>